[Unit]
Description=OKAD Canvas UGC Form Handler
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/okad-cc/form-handler
ExecStart=/usr/bin/python3 /home/ec2-user/okad-cc/form-handler/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
